* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logocptm {
    width: 50px;
    margin-right: 45px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.red-background {
    width: 100%px;
    height: 25vh;
    background-color: #F7494B;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
    max-width: 430px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.login-container h2 {
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

form label {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #d8d5d5;
    border-radius: 10px;
}
.email{
    color: #F7494B;
}
.login-button {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #F7494B;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #F7494B;
}

.or {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin: 15px 0;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.social-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #a8a4a4;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-button {
    color: #000000;
    background-color: #ffffff;
}

.google-button:hover {
    background-color: #ffffff;
}

.facebook-button {
    color: #000000;
    background-color: #ffffff;
}

.facebook-button:hover {
    background-color: #ffffff;
}

.create-account {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
}

.create-account a {
    color: #F7494B;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        max-width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }
}